{% extends "base.html" %}
{% load static %}

{%block content%}  

<section id="events" class="events"  style="padding-top: 10%;">
  <div class="container" data-aos="fade-up">
  <br>
  <br>
    <div class="section-title">
      <!-- <h2>Electrocar</h2> -->
      <!-- <p>Eco car in your life</p> -->
    </div>

    <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="{% static 'img/slide1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Электромашина</h3>
              <div class="price">
                <!-- <p><span>Электромашина </span></p> -->
              </div>
              <p class="italic">
               <h2> 
                Машина , которая стала компромисом <br>
                между сохранением <br>
                мобильности и снижением <br>
                вредного воздействия <br>
                на окружающую среду . <br>
                Он является экологические безопасным и экономичным транспортным средством <br> 
                </h2> 
              </p>
              <ul>
                <!-- <h5> Skyworth</h5>  -->
                <!-- <li><i class="bi bi-check-circled"></i> Voice intelligent activation</li>
                <li><i class="bi bi-check-circled"></i> Unlimited expansion of space</li>
                <li><i class="bi bi-check-circled"></i> let you enjoy the picturesque scenery between chat and laugh</li> -->
              </ul>
              <!-- <p>
                You can bring your friends family we have a healthy atmosphere in our restaurant.
              </p> -->
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="{% static 'img/slide2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Экономия </h3>
              <div class="price">
                <!-- <p><span>Экономия  </span></p> -->
              </div>
              <p class="italic">
                <h2> 
                Машина ДВС расходует в городском цикле около 7.5 литров <br>
                на 100 км.При цене топлива 54 сом за литр <br>
                его годавая заправка будет стоить 64 800 сом. <br>
                Электромобиль потребляет 25 кВт*ч на 100 км. Стоимость <br>
                одного киловатта в Бишкеке – 2,52 сом. Годовая зарядка будет стоить 10 080 сом <br> 
                 </h2>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="{% static 'img/slide3.jpeg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Экология </h3>
              <div class="price">
                <!-- <p><span> Экология  </span></p> -->
              </div>
              <h2>  
                Сегодня 60% из общего <br>
                количества вредных вещест ,<br> 
                выбрасываемых в атмосферу <br>
                приходится на ДВС машины, но<br>
                благодаря электромашинам ,<br> 
                мы сможем сберечь нашу экологию ! <br>
                </h2>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Events Section -->
  

  <!--<form action ="{% url 'Event'%}" method ="POST">
    {% csrf_token %}
  
    <input type="text" name="name" placeholder="Your Name" >
                        
    <input type="text" name="phone" placeholder="Your Phone" >

    <input type="date" name="date" placeholder="Date">

    <input type="text" name="event" placeholder="Event"><br>
                        

                       
    <input type="number" name="persons" placeholder="no of people">
                        
    
                      
    <br>
    <input type="submit" value="BOOK Hall"></div>-->

  {% endblock %}