{% extends "base.html" %}
{% load static %}

{%block content%}  

<section id="hero" class="d-flex align-items-center"  style="padding-top: 10%;">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Добро пожаловать<span> Eco-Driver!</span></h1>
            <br>
            <br>
        <h2>EcoDriver - лучший мир начинается с нас !</h2>

        <div class="btns">
          <a href="{% url 'menu' %}" class="btn-menu animated fadeInUp scrollto">Наши Машины</a>
          <a href="{% url 'booktable' %}"class="btn-book animated fadeInUp scrollto">Запись на обратный звонок</a>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
        <!--<a href="{% static 'https://www.youtube.com/watch?v=GlrxcuEDyF8' %}" class="glightbox play-btn"></a>-->
      </div>

    </div>
  </div>
</section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <!-- <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'img/about.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Skyworth</h3>
            <p class="fst-italic">
              Первым китайским брендом автомобилей на рынке США стал малоизвестный Skyworth
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Комфорт</li>
              <li><i class="bi bi-check-circle"></i> Энергия</li>
              <li><i class="bi bi-check-circle"></i> Сила</li>
              <li><i class="bi bi-check-circle"></i> Элегантность</li>
            </ul>
            <p>
              Многие китайские автопроизводители хотели бы продавать машины в США. 
              Марки Nio и Xpeng считаются самыми перспективными брендами для американского рынка, 
              но их опередила фирма, даже название которой мало кто слышал.
            </p>
          </div>
        </div>

      </div> -->
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our</h2>
          <!-- <p>Green-Taxi</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Гарантия качества машин</h4>
              <p>Наша компания является официальным диллером Skywell, BYD в кыргызыстане.              </p>
            </div>
          </div>
          

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Пост-Сейлз сервис</h4>
              <p>У нас единственный в кыргызстане автосалон электрокаров и спецализированное тех обслуживание.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="400">
              <span>03</span>
              <h4> Надежность!</h4>
              <p>У нас лучшая репутация на рынке, наше начинание официально поддержала Министрество Экономики КР.
                Гаранция лучшей цены и доставки.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    
{% endblock%}  

 