{% extends "base.html" %}
{% load static %}

{% block content %}  

 <!-- ======= Menu Section ======= -->
 <section id="menu" class="menu section-bg" style="padding-top: 10%";>
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <!-- <p>Машины</p> -->
      <br>
      <br>
        
 <!-- card -->
 <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/BYD３００Article_155028_860_575.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="section-title">BYD EV 40 </h2>
        <p>
            Запас хода – 405 км  <br>
            Емкость батареи – 51.2 кВт/ч <br> 
            Разгон 0-100 км/ч – 16 секунд  <br>
            Макс. скорость – 130 км/ч  <br>
            Медленная зарядка – 7 кВт (7 часов) <br> 
            Быстрая зарядка – 60 кВт (40 минут)  <br>
            Размер машины (мм) – 4680*1765*1500 <br>
            Колесная база (мм) – 2660 <br>
            Объем багажа – 450 л. <br>
          </p>
      </div>
    </div>
  </div>
  
  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/byd-han-ev-01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">BYD HAN </h2>
        <p class="card-text">  
          Запас хода – 605 км <br>  
          Емкость батареи – 76.9 кВт/ч <br> 
          Разгон 0-100 км/ч – 7.9 секунд  <br>
          Макс. скорость – 150 км/ч <br> 
          Медленная зарядка – 7 кВт (10 часов) <br> 
          Быстрая зарядка – 60 кВт (50 минут) <br> 
          Размер машины (мм) – 4980*1910*1495 <br>
          Колесная база – 2920 мм <br>
         </p>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/chery-arrizo-5-2018-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">CHERRY – ARIZZON 5</h2>
        <p class="card-text">
          Запас хода – 400 км  <br>
          Емкость батареи – 49 кВт/ч <br> 
          Разгон 0-100 км/ч – 9 секунд  <br>
          Макс. скорость – 130 км/ч <br> 
          Медленная зарядка – 7 кВт ( 7 часов) <br> 
          Быстрая зарядка – 60 кВт (30 минут) <br> 
          Размер машины (мм) – 4572*1825*1482 <br>
          Колесная база – 2670 мм <br> 
          Объем багажа – 430 л. <br>
        </p>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/GEELY 56542d4295a65653d100015a.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">GEELY Emgrand EV</h2>
        <p class="card-text"> 
          Запас хода – 300 км <br>
          Емкость батареи – 41 кВт/ч <br> 
          Разгон 0-100 км/ч – 9.9 секунд <br> 
          Макс. скорость – 140 км/ч <br> 
          Медленная зарядка – 7 кВт (5 часов) <br> 
          Быстрая зарядка – 60 кВт (30 минут) <br> 
          Размер машины (мм) – 4630*1790*1500 <br>
          Колесная база (мм) – 2650 <br>
        </p>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/Honda xnv.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title"> HONDA – XNV</h2>
        <p class="card-text"> 
            Запас хода – 401 км <br>
            Емкость батареи – 53.6 кВт/ч <br>
            Разгон 0-100 км/ч – 8 секунд <br>
            Макс. скорость – 140 км/ч <br>
            Медленная зарядка – 7 кВт (7 часов) <br>
            Быстрая зарядка – 60 кВт (40 минут) <br>
            Размер машины (мм) – 4280*1772*1625 <br>
            Колесная база – 2610 мм <br>
        </p>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/SOL.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">SOL E50</h2>
        <p class="card-text"> 
          Запас хода – 402 км <br>
          Емкость батареи – 49 кВт/ч <br>
          Разгон 0-100 км/ч – 10 секунд <br>
          Макс. скорость – 102 км/ч <br>
          Медленная зарядка – 7 кВт (7 часов) <br>
          Быстрая зарядка – 60 кВт (40 минут) <br>
          Размер машины (мм) – 4135*1750*1565 <br>
          Колесная база – 2490 мм <br>          
        </p>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/JAC.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">JAC iEVA 50</h2>
        <p class="card-text"> 
          Запас хода – 402 км <br>
          Емкость батареи – 49 кВт/ч <br>
          Разгон 0-100 км/ч – 10 секунд <br>
          Макс. скорость – 102 км/ч <br>
          Медленная зарядка – 7 кВт (7 часов) <br>
          Быстрая зарядка – 60 кВт (40 минут) <br>
          Размер машины (мм) – 4135*1750*1565 <br>
          Колесная база – 2490 мм <br>        
        </p>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="card h-200">
      <img src="/static/img/BAIC eu260.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">BAIC EU260 </h2>
        <p class="card-text"> 
            Запас хода – 260 км <br>
            Емкость батареи – 41 кВт/ч <br>
            Разгон 0-100 км/ч – 9 секунд <br>
            Макс. скорость – 140 км/ч <br>
            Медленная зарядка – 7 кВт (7 часов) <br>
            Быстрая зарядка – 60 кВт (40 минут) <br>
            Размер машины (мм) – 4585*1794*1515 <br>
            Колесная база – 2650 мм <br>
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/BAIC eu5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">BAIC EU5</h2>
        <p class="card-text"> 
          Запас хода – 410 км <br>
          Емкость батареи – 50.8 кВт/ч <br>
          Разгон 0-100 км/ч – 7.8 секунд <br>
          Макс. скорость – 155 км/ч <br>
          Медленная зарядка – 7 кВт (7 часов) <br>
          Быстрая зарядка – 60 кВт (40 минут) <br>
          Размер машины (мм) – 4650*1820*1510 <br>
          Колесная база – 2670 мм <br>
        </p>
      </div>
    </div>
  </div> -->

  <!-- <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/benben-ev-01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">BENBEN EV 260</h2>
        <p class="card-text"> 
          BENBEN EV 260 <br>
          Запас хода – 301 км <br>
          Емкость батареи – 55 кВт/ч <br>
          Разгон 0-100 км/ч – 9 секунд <br>
          Макс. скорость – 125 км/ч <br>
          Медленная зарядка – 7 кВт (7 часов) <br>
          Быстрая зарядка – 60 кВт (40 минут) <br>
          Размер машины (мм) – 3730*1650*1530 <br>
          Колесная база – 2410 мм <br>
        </p>
      </div>
    </div>
  </div> -->

  <!-- <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/changan-cs15ev-01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">BChangan CS 15</h2>
        <p class="card-text"> 
          Запас хода – 300 км <br>
          Емкость батареи – 55 кВт/ч <br>
          Разгон 0-100 км/ч – 9 секунд <br>
          Макс. скорость – 130 км/ч <br>
          Медленная зарядка – 7 кВт (8 часов) <br>
          Быстрая зарядка – 60 кВт (40 минут) <br>
          Размер машины (мм) – 4100*1740*1630 <br>
          Колесная база – 2510 мм <br>
        </p>
      </div>
    </div>
  </div> -->

  <!-- <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/eulove-ev-01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Changan Eulove</h2>
        <p class="card-text"> 
            Запас хода – 240 км <br>
            Емкость батареи – 67 кВт/ч <br>
            Разгон 0-100 км/ч – 13 секунд <br>
            Макс. скорость – 135 км/ч <br>
            Медленная зарядка – 7 кВт (8 часов) <br>
            Быстрая зарядка – 60 кВт (50 минут) <br>
            Размер машины (мм) – 3800*1700*1670 <br>
            Колесная база – 2505 мм <br>
        </p>
      </div>
    </div>
  </div> -->
<!--   
  <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/A600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Changan  Auchan A600</h2>
        <p class="card-text"> 
          Запас хода – 405 км <br>
          Емкость батареи – 90 кВт/ч <br>
          Разгон 0-100 км/ч – 13 секунд <br>
          Макс. скорость – 135 км/ч <br>
          Медленная зарядка – 7 кВт (10 часов) <br>
          Быстрая зарядка – 60 кВт (90 минут) <br>
          Размер машины (мм) – 4510*1725*1685 <br>
          Колесная база – 2680 мм <br>
        </p>
      </div>
    </div>
  </div>

  <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/tesla_model_3_745994.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">  Tesla Model 3</h2>
        <p class="card-text"> 
        Запас хода – 400 км <br>
        Емкость батареи – 50 кВт/ч <br>
        Разгон 0-100 км/ч – 5.1 секунд <br>
        Макс. скорость – 225 км/ч <br>
        Медленная зарядка – 7 кВт (9 часов) <br>
        Быстрая зарядка – 60 кВт (60 минут) <br>
        Размер машины (мм) – 4694*1933*1443 <br>
        Колесная база – 2875 мм <br>
        </p>
      </div>
    </div>
  </div>

  <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/tesla_model_s_182016.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">  Tesla Model S </h2>
        <p class="card-text"> 
          Запас хода – 613 км <br>
          Емкость батареи – 100 кВт/ч <br>
          Разгон 0-100 км/ч – 2.5 секунд <br>
          Макс. скорость – 250 км/ч <br>
          Медленная зарядка – 7 кВт (15 часов) <br>
          Быстрая зарядка – 60 кВт (90 минут) <br>
          Размер машины (мм) – 4970*1964*1430 <br>
          Колесная база – 2960 мм <br>
        </p>
      </div>
    </div>
  </div>

  <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/Тесла Y.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title"> Tesla Model Y</h2>
        <p class="card-text">
          Запас хода – 540 км <br>
          Емкость батареи – 75 кВт/ч <br>
          Разгон 0-100 км/ч – 3.5 секунд <br>
          Макс. скорость – 241 км/ч <br>
          Медленная зарядка – 7 кВт (11 часов) <br>
          Быстрая зарядка – 60 кВт (60 минут) <br>
          Размер машины (мм) – 4750*2129*1623 <br>
          Колесная база – 2891 мм <br>
        </p>
      </div>
    </div>
  </div>

  <div class="kartochka">
    <div class="card h-200">
      <img src="/static/img/tesla-model-x.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title"> Tesla Model X</h2>
        <p class="card-text">
          Запас хода – 417 км <br>
          Емкость батареи – 90 кВт/ч <br>
          Разгон 0-100 км/ч – 6.2 секунд <br>
          Макс. скорость – 210 км/ч <br>
          Медленная зарядка – 7 кВт (11 часов) <br>
          Быстрая зарядка – 60 кВт (90 минут) <br>
          Размер машины (мм) – 5037*2070*1684 <br>
          Колесная база – 3965 мм <br>
        </p>
      </div>
    </div>
  </div> -->
  
<!-- card -->     
<br>
<br>
      <!-- pagination -->
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a class="nav-link scrollto" href="{% url 'menu' %}">1</a></li>
        <li><a class="nav-link scrollto" href="{% url 'menu2' %}">2</a></li>
        <li><a class="nav-link scrollto" href="{% url 'menu3' %}">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- pagination -->

 

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

      {% for starter in starters%}
      <div class="col-lg-6 menu-item filter-starters">
        {% if starter.offer %}
        <div class="spec_offer text-center"><a href="#"><h6>Special offer</h6></a></div>
        {% endif %}
        <img src="{{starter.img.url}}" class="menu-img" alt="">

        <div class="menu-content">
          <a href="#">{{starter.name}}</a><span>{{starter.price}}$</span>

        </div>
        <div class="menu-ingredients">
          {{starter.desc}}
        </div>
      </div>
      {% endfor %}

      {% for salad in salads%}
      <div class="col-lg-6 menu-item filter-salads">
        <img src="{{salad.img.url}}" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">{{salad.name}}</a><span>{{salad.price}}$</span>
        </div>
        <div class="menu-ingredients">
          {{salad.desc}}
        </div>
      </div>
      {% endfor %}


      {% for specialty in specialtys%}
      <div class="col-lg-6 menu-item filter-specialty">
        <img src="{{specialty.img.url}}" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">{{specialty.name}}</a><span>{{specialty.price}}$</span>
        </div>
        <div class="menu-ingredients">
          {{specialty.desc}}
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>  <!-- End Menu Section -->

  {% endblock %} 