{% extends "base.html" %}
{% load static %}

{% block content %}  

 <!-- ======= Menu Section ======= -->
 <section id="menu" class="menu section-bg" style="padding-top: 10%";>
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <!-- <p>Машины</p> -->
      <br>
      <br>
        
 <!-- card -->
 <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/lavida.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Volkswagen e-Lavida </h2>
        <p class="card-text">
          Запас хода – 280 км  
          Емкость батареи – 38.1 кВт/ч  
          Разгон 0-100 км/ч – 12 секунд  
          Макс. скорость – 150 км/ч  
          Медленная зарядка – 7 кВт (5 часов)  
          Быстравыя зарядка – 60 кВт (30 минут)  
          Размер машины (мм) – 4670*1806*1473 
          Колесная база (мм) – 2680  
          Объем багаэа – 510 л. 
          </p>
      </div>
    </div>
  </div>
 
        <div class="card-grid">
          <div class="card h-200">
            <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Card title</h2>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
    
  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  <div class="card-grid">
    <div class="card h-200">
      <img src="/static/img/about-bg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

  

  
<!-- card -->     
<br>
<br>
      <!-- pagination -->
    <!-- </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="{% static '#' %}">1</a></li>
        <li class="page-item"><a class="page-link" href="{% static '#' %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% static '#' %}">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> -->
    <!-- pagination -->

    <!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">1</li> 
          <li data-filter=".filter-starters">2</li>
          <li data-filter=".filter-salads">3</li>
          <li data-filter=".filter-specialty">4</li>
        </ul>
      </div>
    </div> -->

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

      {% for starter in starters%}
      <div class="col-lg-6 menu-item filter-starters">
        {% if starter.offer %}
        <div class="spec_offer text-center"><a href="#"><h6>Special offer</h6></a></div>
        {% endif %}
        <img src="{{starter.img.url}}" class="menu-img" alt="">
        
        <div class="menu-content">
          <a href="#">{{starter.name}}</a><span>{{starter.price}}$</span>
          
        </div>
        <div class="menu-ingredients">
          {{starter.desc}}
        </div>
      </div>
      {% endfor %}

      {% for salad in salads%}
      <div class="col-lg-6 menu-item filter-salads">
        <img src="{{salad.img.url}}" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">{{salad.name}}</a><span>{{salad.price}}$</span>
        </div>
        <div class="menu-ingredients">
          {{salad.desc}}
        </div>
      </div>
      {% endfor %}


      {% for specialty in specialtys%}
      <div class="col-lg-6 menu-item filter-specialty">
        <img src="{{specialty.img.url}}" class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">{{specialty.name}}</a><span>{{specialty.price}}$</span>
        </div>
        <div class="menu-ingredients">
          {{specialty.desc}}
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>  <!-- End Menu Section -->

  {% endblock %} 